.spr_common {background: url(/assets/enp/front/resource/images/sprites/sprite_common.png);}

$common-width: 388px;
$common-height: 380px;
$common-name: 'common';
$common-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common: (388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'common');

$common-spr_gnb_allplan_dark-name: 'spr_gnb_allplan_dark';
$common-spr_gnb_allplan_dark-x: 108px;
$common-spr_gnb_allplan_dark-y: 272px;
$common-spr_gnb_allplan_dark-offset_x: -108px;
$common-spr_gnb_allplan_dark-offset_y: -272px;
$common-spr_gnb_allplan_dark-width: 71px;
$common-spr_gnb_allplan_dark-height: 17px;
$common-spr_gnb_allplan_dark-total_width: 388px;
$common-spr_gnb_allplan_dark-total_height: 380px;
$common-spr_gnb_allplan_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_gnb_allplan_dark: (108px, 272px, -108px, -272px, 71px, 17px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_gnb_allplan_dark');

$common-spr_gnb_allplan_light-name: 'spr_gnb_allplan_light';
$common-spr_gnb_allplan_light-x: 189px;
$common-spr_gnb_allplan_light-y: 272px;
$common-spr_gnb_allplan_light-offset_x: -189px;
$common-spr_gnb_allplan_light-offset_y: -272px;
$common-spr_gnb_allplan_light-width: 71px;
$common-spr_gnb_allplan_light-height: 17px;
$common-spr_gnb_allplan_light-total_width: 388px;
$common-spr_gnb_allplan_light-total_height: 380px;
$common-spr_gnb_allplan_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_gnb_allplan_light: (189px, 272px, -189px, -272px, 71px, 17px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_gnb_allplan_light');

$common-spr_ico_arrow01-name: 'spr_ico_arrow01';
$common-spr_ico_arrow01-x: 142px;
$common-spr_ico_arrow01-y: 151px;
$common-spr_ico_arrow01-offset_x: -142px;
$common-spr_ico_arrow01-offset_y: -151px;
$common-spr_ico_arrow01-width: 9px;
$common-spr_ico_arrow01-height: 5px;
$common-spr_ico_arrow01-total_width: 388px;
$common-spr_ico_arrow01-total_height: 380px;
$common-spr_ico_arrow01-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_arrow01: (142px, 151px, -142px, -151px, 9px, 5px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_arrow01');

$common-spr_ico_arrow02-name: 'spr_ico_arrow02';
$common-spr_ico_arrow02-x: 351px;
$common-spr_ico_arrow02-y: 238px;
$common-spr_ico_arrow02-offset_x: -351px;
$common-spr_ico_arrow02-offset_y: -238px;
$common-spr_ico_arrow02-width: 13px;
$common-spr_ico_arrow02-height: 9px;
$common-spr_ico_arrow02-total_width: 388px;
$common-spr_ico_arrow02-total_height: 380px;
$common-spr_ico_arrow02-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_arrow02: (351px, 238px, -351px, -238px, 13px, 9px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_arrow02');

$common-spr_ico_arrow03-name: 'spr_ico_arrow03';
$common-spr_ico_arrow03-x: 382px;
$common-spr_ico_arrow03-y: 214px;
$common-spr_ico_arrow03-offset_x: -382px;
$common-spr_ico_arrow03-offset_y: -214px;
$common-spr_ico_arrow03-width: 4px;
$common-spr_ico_arrow03-height: 7px;
$common-spr_ico_arrow03-total_width: 388px;
$common-spr_ico_arrow03-total_height: 380px;
$common-spr_ico_arrow03-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_arrow03: (382px, 214px, -382px, -214px, 4px, 7px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_arrow03');

$common-spr_ico_check_off-name: 'spr_ico_check_off';
$common-spr_ico_check_off-x: 269px;
$common-spr_ico_check_off-y: 299px;
$common-spr_ico_check_off-offset_x: -269px;
$common-spr_ico_check_off-offset_y: -299px;
$common-spr_ico_check_off-width: 10px;
$common-spr_ico_check_off-height: 10px;
$common-spr_ico_check_off-total_width: 388px;
$common-spr_ico_check_off-total_height: 380px;
$common-spr_ico_check_off-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_check_off: (269px, 299px, -269px, -299px, 10px, 10px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_check_off');

$common-spr_ico_check_on-name: 'spr_ico_check_on';
$common-spr_ico_check_on-x: 289px;
$common-spr_ico_check_on-y: 299px;
$common-spr_ico_check_on-offset_x: -289px;
$common-spr_ico_check_on-offset_y: -299px;
$common-spr_ico_check_on-width: 10px;
$common-spr_ico_check_on-height: 10px;
$common-spr_ico_check_on-total_width: 388px;
$common-spr_ico_check_on-total_height: 380px;
$common-spr_ico_check_on-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_check_on: (289px, 299px, -289px, -299px, 10px, 10px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_check_on');

$common-spr_ico_close_search-name: 'spr_ico_close_search';
$common-spr_ico_close_search-x: 178px;
$common-spr_ico_close_search-y: 299px;
$common-spr_ico_close_search-offset_x: -178px;
$common-spr_ico_close_search-offset_y: -299px;
$common-spr_ico_close_search-width: 18px;
$common-spr_ico_close_search-height: 18px;
$common-spr_ico_close_search-total_width: 388px;
$common-spr_ico_close_search-total_height: 380px;
$common-spr_ico_close_search-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_close_search: (178px, 299px, -178px, -299px, 18px, 18px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_close_search');

$common-spr_ico_new-name: 'spr_ico_new';
$common-spr_ico_new-x: 161px;
$common-spr_ico_new-y: 151px;
$common-spr_ico_new-offset_x: -161px;
$common-spr_ico_new-offset_y: -151px;
$common-spr_ico_new-width: 6px;
$common-spr_ico_new-height: 5px;
$common-spr_ico_new-total_width: 388px;
$common-spr_ico_new-total_height: 380px;
$common-spr_ico_new-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_new: (161px, 151px, -161px, -151px, 6px, 5px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_new');

$common-spr_ico_new02-name: 'spr_ico_new02';
$common-spr_ico_new02-x: 374px;
$common-spr_ico_new02-y: 238px;
$common-spr_ico_new02-offset_x: -374px;
$common-spr_ico_new02-offset_y: -238px;
$common-spr_ico_new02-width: 8px;
$common-spr_ico_new02-height: 8px;
$common-spr_ico_new02-total_width: 388px;
$common-spr_ico_new02-total_height: 380px;
$common-spr_ico_new02-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_new02: (374px, 238px, -374px, -238px, 8px, 8px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_new02');

$common-spr_ico_popclose01-name: 'spr_ico_popclose01';
$common-spr_ico_popclose01-x: 309px;
$common-spr_ico_popclose01-y: 299px;
$common-spr_ico_popclose01-offset_x: -309px;
$common-spr_ico_popclose01-offset_y: -299px;
$common-spr_ico_popclose01-width: 8px;
$common-spr_ico_popclose01-height: 8px;
$common-spr_ico_popclose01-total_width: 388px;
$common-spr_ico_popclose01-total_height: 380px;
$common-spr_ico_popclose01-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_popclose01: (309px, 299px, -309px, -299px, 8px, 8px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_popclose01');

$common-spr_ico_popclose02-name: 'spr_ico_popclose02';
$common-spr_ico_popclose02-x: 327px;
$common-spr_ico_popclose02-y: 299px;
$common-spr_ico_popclose02-offset_x: -327px;
$common-spr_ico_popclose02-offset_y: -299px;
$common-spr_ico_popclose02-width: 8px;
$common-spr_ico_popclose02-height: 8px;
$common-spr_ico_popclose02-total_width: 388px;
$common-spr_ico_popclose02-total_height: 380px;
$common-spr_ico_popclose02-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_popclose02: (327px, 299px, -327px, -299px, 8px, 8px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_popclose02');

$common-spr_ico_popclose03-name: 'spr_ico_popclose03';
$common-spr_ico_popclose03-x: 248px;
$common-spr_ico_popclose03-y: 299px;
$common-spr_ico_popclose03-offset_x: -248px;
$common-spr_ico_popclose03-offset_y: -299px;
$common-spr_ico_popclose03-width: 11px;
$common-spr_ico_popclose03-height: 10px;
$common-spr_ico_popclose03-total_width: 388px;
$common-spr_ico_popclose03-total_height: 380px;
$common-spr_ico_popclose03-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_popclose03: (248px, 299px, -248px, -299px, 11px, 10px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_popclose03');

$common-spr_ico_restore-name: 'spr_ico_restore';
$common-spr_ico_restore-x: 324px;
$common-spr_ico_restore-y: 112px;
$common-spr_ico_restore-offset_x: -324px;
$common-spr_ico_restore-offset_y: -112px;
$common-spr_ico_restore-width: 38px;
$common-spr_ico_restore-height: 39px;
$common-spr_ico_restore-total_width: 388px;
$common-spr_ico_restore-total_height: 380px;
$common-spr_ico_restore-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_restore: (324px, 112px, -324px, -112px, 38px, 39px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_restore');

$common-spr_ico_search_dark-name: 'spr_ico_search_dark';
$common-spr_ico_search_dark-x: 364px;
$common-spr_ico_search_dark-y: 170px;
$common-spr_ico_search_dark-offset_x: -364px;
$common-spr_ico_search_dark-offset_y: -170px;
$common-spr_ico_search_dark-width: 24px;
$common-spr_ico_search_dark-height: 18px;
$common-spr_ico_search_dark-total_width: 388px;
$common-spr_ico_search_dark-total_height: 380px;
$common-spr_ico_search_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_search_dark: (364px, 170px, -364px, -170px, 24px, 18px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_search_dark');

$common-spr_ico_search_light-name: 'spr_ico_search_light';
$common-spr_ico_search_light-x: 193px;
$common-spr_ico_search_light-y: 48px;
$common-spr_ico_search_light-offset_x: -193px;
$common-spr_ico_search_light-offset_y: -48px;
$common-spr_ico_search_light-width: 24px;
$common-spr_ico_search_light-height: 18px;
$common-spr_ico_search_light-total_width: 388px;
$common-spr_ico_search_light-total_height: 380px;
$common-spr_ico_search_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_search_light: (193px, 48px, -193px, -48px, 24px, 18px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_search_light');

$common-spr_ico_search-name: 'spr_ico_search';
$common-spr_ico_search-x: 108px;
$common-spr_ico_search-y: 299px;
$common-spr_ico_search-offset_x: -108px;
$common-spr_ico_search-offset_y: -299px;
$common-spr_ico_search-width: 32px;
$common-spr_ico_search-height: 26px;
$common-spr_ico_search-total_width: 388px;
$common-spr_ico_search-total_height: 380px;
$common-spr_ico_search-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_search: (108px, 299px, -108px, -299px, 32px, 26px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_search');

$common-spr_ico_social_facebook_hover-name: 'spr_ico_social_facebook_hover';
$common-spr_ico_social_facebook_hover-x: 0px;
$common-spr_ico_social_facebook_hover-y: 366px;
$common-spr_ico_social_facebook_hover-offset_x: 0px;
$common-spr_ico_social_facebook_hover-offset_y: -366px;
$common-spr_ico_social_facebook_hover-width: 6px;
$common-spr_ico_social_facebook_hover-height: 14px;
$common-spr_ico_social_facebook_hover-total_width: 388px;
$common-spr_ico_social_facebook_hover-total_height: 380px;
$common-spr_ico_social_facebook_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_facebook_hover: (0px, 366px, 0px, -366px, 6px, 14px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_facebook_hover');

$common-spr_ico_social_facebook-name: 'spr_ico_social_facebook';
$common-spr_ico_social_facebook-x: 16px;
$common-spr_ico_social_facebook-y: 366px;
$common-spr_ico_social_facebook-offset_x: -16px;
$common-spr_ico_social_facebook-offset_y: -366px;
$common-spr_ico_social_facebook-width: 6px;
$common-spr_ico_social_facebook-height: 14px;
$common-spr_ico_social_facebook-total_width: 388px;
$common-spr_ico_social_facebook-total_height: 380px;
$common-spr_ico_social_facebook-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_facebook: (16px, 366px, -16px, -366px, 6px, 14px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_facebook');

$common-spr_ico_social_instagram_hover-name: 'spr_ico_social_instagram_hover';
$common-spr_ico_social_instagram_hover-x: 270px;
$common-spr_ico_social_instagram_hover-y: 272px;
$common-spr_ico_social_instagram_hover-offset_x: -270px;
$common-spr_ico_social_instagram_hover-offset_y: -272px;
$common-spr_ico_social_instagram_hover-width: 14px;
$common-spr_ico_social_instagram_hover-height: 15px;
$common-spr_ico_social_instagram_hover-total_width: 388px;
$common-spr_ico_social_instagram_hover-total_height: 380px;
$common-spr_ico_social_instagram_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_instagram_hover: (270px, 272px, -270px, -272px, 14px, 15px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_instagram_hover');

$common-spr_ico_social_instagram-name: 'spr_ico_social_instagram';
$common-spr_ico_social_instagram-x: 294px;
$common-spr_ico_social_instagram-y: 272px;
$common-spr_ico_social_instagram-offset_x: -294px;
$common-spr_ico_social_instagram-offset_y: -272px;
$common-spr_ico_social_instagram-width: 14px;
$common-spr_ico_social_instagram-height: 15px;
$common-spr_ico_social_instagram-total_width: 388px;
$common-spr_ico_social_instagram-total_height: 380px;
$common-spr_ico_social_instagram-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_instagram: (294px, 272px, -294px, -272px, 14px, 15px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_instagram');

$common-spr_ico_social_kakaotv_hover-name: 'spr_ico_social_kakaotv_hover';
$common-spr_ico_social_kakaotv_hover-x: 0px;
$common-spr_ico_social_kakaotv_hover-y: 343px;
$common-spr_ico_social_kakaotv_hover-offset_x: 0px;
$common-spr_ico_social_kakaotv_hover-offset_y: -343px;
$common-spr_ico_social_kakaotv_hover-width: 8px;
$common-spr_ico_social_kakaotv_hover-height: 13px;
$common-spr_ico_social_kakaotv_hover-total_width: 388px;
$common-spr_ico_social_kakaotv_hover-total_height: 380px;
$common-spr_ico_social_kakaotv_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_kakaotv_hover: (0px, 343px, 0px, -343px, 8px, 13px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_kakaotv_hover');

$common-spr_ico_social_kakaotv-name: 'spr_ico_social_kakaotv';
$common-spr_ico_social_kakaotv-x: 18px;
$common-spr_ico_social_kakaotv-y: 343px;
$common-spr_ico_social_kakaotv-offset_x: -18px;
$common-spr_ico_social_kakaotv-offset_y: -343px;
$common-spr_ico_social_kakaotv-width: 8px;
$common-spr_ico_social_kakaotv-height: 13px;
$common-spr_ico_social_kakaotv-total_width: 388px;
$common-spr_ico_social_kakaotv-total_height: 380px;
$common-spr_ico_social_kakaotv-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_kakaotv: (18px, 343px, -18px, -343px, 8px, 13px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_kakaotv');

$common-spr_ico_social_naverblog_hover-name: 'spr_ico_social_naverblog_hover';
$common-spr_ico_social_naverblog_hover-x: 350px;
$common-spr_ico_social_naverblog_hover-y: 214px;
$common-spr_ico_social_naverblog_hover-offset_x: -350px;
$common-spr_ico_social_naverblog_hover-offset_y: -214px;
$common-spr_ico_social_naverblog_hover-width: 22px;
$common-spr_ico_social_naverblog_hover-height: 10px;
$common-spr_ico_social_naverblog_hover-total_width: 388px;
$common-spr_ico_social_naverblog_hover-total_height: 380px;
$common-spr_ico_social_naverblog_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_naverblog_hover: (350px, 214px, -350px, -214px, 22px, 10px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_naverblog_hover');

$common-spr_ico_social_naverblog-name: 'spr_ico_social_naverblog';
$common-spr_ico_social_naverblog-x: 319px;
$common-spr_ico_social_naverblog-y: 238px;
$common-spr_ico_social_naverblog-offset_x: -319px;
$common-spr_ico_social_naverblog-offset_y: -238px;
$common-spr_ico_social_naverblog-width: 22px;
$common-spr_ico_social_naverblog-height: 10px;
$common-spr_ico_social_naverblog-total_width: 388px;
$common-spr_ico_social_naverblog-total_height: 380px;
$common-spr_ico_social_naverblog-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_naverblog: (319px, 238px, -319px, -238px, 22px, 10px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_naverblog');

$common-spr_ico_social_naverpost_hover-name: 'spr_ico_social_naverpost_hover';
$common-spr_ico_social_naverpost_hover-x: 318px;
$common-spr_ico_social_naverpost_hover-y: 272px;
$common-spr_ico_social_naverpost_hover-offset_x: -318px;
$common-spr_ico_social_naverpost_hover-offset_y: -272px;
$common-spr_ico_social_naverpost_hover-width: 13px;
$common-spr_ico_social_naverpost_hover-height: 15px;
$common-spr_ico_social_naverpost_hover-total_width: 388px;
$common-spr_ico_social_naverpost_hover-total_height: 380px;
$common-spr_ico_social_naverpost_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_naverpost_hover: (318px, 272px, -318px, -272px, 13px, 15px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_naverpost_hover');

$common-spr_ico_social_naverpost-name: 'spr_ico_social_naverpost';
$common-spr_ico_social_naverpost-x: 341px;
$common-spr_ico_social_naverpost-y: 272px;
$common-spr_ico_social_naverpost-offset_x: -341px;
$common-spr_ico_social_naverpost-offset_y: -272px;
$common-spr_ico_social_naverpost-width: 13px;
$common-spr_ico_social_naverpost-height: 15px;
$common-spr_ico_social_naverpost-total_width: 388px;
$common-spr_ico_social_naverpost-total_height: 380px;
$common-spr_ico_social_naverpost-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_naverpost: (341px, 272px, -341px, -272px, 13px, 15px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_naverpost');

$common-spr_ico_social_navertv_hover-name: 'spr_ico_social_navertv_hover';
$common-spr_ico_social_navertv_hover-x: 206px;
$common-spr_ico_social_navertv_hover-y: 299px;
$common-spr_ico_social_navertv_hover-offset_x: -206px;
$common-spr_ico_social_navertv_hover-offset_y: -299px;
$common-spr_ico_social_navertv_hover-width: 11px;
$common-spr_ico_social_navertv_hover-height: 13px;
$common-spr_ico_social_navertv_hover-total_width: 388px;
$common-spr_ico_social_navertv_hover-total_height: 380px;
$common-spr_ico_social_navertv_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_navertv_hover: (206px, 299px, -206px, -299px, 11px, 13px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_navertv_hover');

$common-spr_ico_social_navertv-name: 'spr_ico_social_navertv';
$common-spr_ico_social_navertv-x: 227px;
$common-spr_ico_social_navertv-y: 299px;
$common-spr_ico_social_navertv-offset_x: -227px;
$common-spr_ico_social_navertv-offset_y: -299px;
$common-spr_ico_social_navertv-width: 11px;
$common-spr_ico_social_navertv-height: 13px;
$common-spr_ico_social_navertv-total_width: 388px;
$common-spr_ico_social_navertv-total_height: 380px;
$common-spr_ico_social_navertv-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_navertv: (227px, 299px, -227px, -299px, 11px, 13px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_navertv');

$common-spr_ico_social_youtube_hover-name: 'spr_ico_social_youtube_hover';
$common-spr_ico_social_youtube_hover-x: 372px;
$common-spr_ico_social_youtube_hover-y: 138px;
$common-spr_ico_social_youtube_hover-offset_x: -372px;
$common-spr_ico_social_youtube_hover-offset_y: -138px;
$common-spr_ico_social_youtube_hover-width: 16px;
$common-spr_ico_social_youtube_hover-height: 12px;
$common-spr_ico_social_youtube_hover-total_width: 388px;
$common-spr_ico_social_youtube_hover-total_height: 380px;
$common-spr_ico_social_youtube_hover-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_youtube_hover: (372px, 138px, -372px, -138px, 16px, 12px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_youtube_hover');

$common-spr_ico_social_youtube-name: 'spr_ico_social_youtube';
$common-spr_ico_social_youtube-x: 364px;
$common-spr_ico_social_youtube-y: 272px;
$common-spr_ico_social_youtube-offset_x: -364px;
$common-spr_ico_social_youtube-offset_y: -272px;
$common-spr_ico_social_youtube-width: 16px;
$common-spr_ico_social_youtube-height: 12px;
$common-spr_ico_social_youtube-total_width: 388px;
$common-spr_ico_social_youtube-total_height: 380px;
$common-spr_ico_social_youtube-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_social_youtube: (364px, 272px, -364px, -272px, 16px, 12px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_social_youtube');

$common-spr_ico_theme_dark-name: 'spr_ico_theme_dark';
$common-spr_ico_theme_dark-x: 227px;
$common-spr_ico_theme_dark-y: 48px;
$common-spr_ico_theme_dark-offset_x: -227px;
$common-spr_ico_theme_dark-offset_y: -48px;
$common-spr_ico_theme_dark-width: 12px;
$common-spr_ico_theme_dark-height: 14px;
$common-spr_ico_theme_dark-total_width: 388px;
$common-spr_ico_theme_dark-total_height: 380px;
$common-spr_ico_theme_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_theme_dark: (227px, 48px, -227px, -48px, 12px, 14px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_theme_dark');

$common-spr_ico_theme_light-name: 'spr_ico_theme_light';
$common-spr_ico_theme_light-x: 372px;
$common-spr_ico_theme_light-y: 112px;
$common-spr_ico_theme_light-offset_x: -372px;
$common-spr_ico_theme_light-offset_y: -112px;
$common-spr_ico_theme_light-width: 16px;
$common-spr_ico_theme_light-height: 16px;
$common-spr_ico_theme_light-total_width: 388px;
$common-spr_ico_theme_light-total_height: 380px;
$common-spr_ico_theme_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_theme_light: (372px, 112px, -372px, -112px, 16px, 16px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_theme_light');

$common-spr_ico_topbutton-name: 'spr_ico_topbutton';
$common-spr_ico_topbutton-x: 150px;
$common-spr_ico_topbutton-y: 299px;
$common-spr_ico_topbutton-offset_x: -150px;
$common-spr_ico_topbutton-offset_y: -299px;
$common-spr_ico_topbutton-width: 18px;
$common-spr_ico_topbutton-height: 23px;
$common-spr_ico_topbutton-total_width: 388px;
$common-spr_ico_topbutton-total_height: 380px;
$common-spr_ico_topbutton-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_ico_topbutton: (150px, 299px, -150px, -299px, 18px, 23px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_ico_topbutton');

$common-spr_img_cert01_dark-name: 'spr_img_cert01_dark';
$common-spr_img_cert01_dark-x: 249px;
$common-spr_img_cert01_dark-y: 170px;
$common-spr_img_cert01_dark-offset_x: -249px;
$common-spr_img_cert01_dark-offset_y: -170px;
$common-spr_img_cert01_dark-width: 105px;
$common-spr_img_cert01_dark-height: 20px;
$common-spr_img_cert01_dark-total_width: 388px;
$common-spr_img_cert01_dark-total_height: 380px;
$common-spr_img_cert01_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert01_dark: (249px, 170px, -249px, -170px, 105px, 20px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert01_dark');

$common-spr_img_cert01_light-name: 'spr_img_cert01_light';
$common-spr_img_cert01_light-x: 130px;
$common-spr_img_cert01_light-y: 168px;
$common-spr_img_cert01_light-offset_x: -130px;
$common-spr_img_cert01_light-offset_y: -168px;
$common-spr_img_cert01_light-width: 105px;
$common-spr_img_cert01_light-height: 20px;
$common-spr_img_cert01_light-total_width: 388px;
$common-spr_img_cert01_light-total_height: 380px;
$common-spr_img_cert01_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert01_light: (130px, 168px, -130px, -168px, 105px, 20px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert01_light');

$common-spr_img_cert02_dark-name: 'spr_img_cert02_dark';
$common-spr_img_cert02_dark-x: 249px;
$common-spr_img_cert02_dark-y: 112px;
$common-spr_img_cert02_dark-offset_x: -249px;
$common-spr_img_cert02_dark-offset_y: -112px;
$common-spr_img_cert02_dark-width: 65px;
$common-spr_img_cert02_dark-height: 48px;
$common-spr_img_cert02_dark-total_width: 388px;
$common-spr_img_cert02_dark-total_height: 380px;
$common-spr_img_cert02_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert02_dark: (249px, 112px, -249px, -112px, 65px, 48px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert02_dark');

$common-spr_img_cert02_light-name: 'spr_img_cert02_light';
$common-spr_img_cert02_light-x: 0px;
$common-spr_img_cert02_light-y: 214px;
$common-spr_img_cert02_light-offset_x: 0px;
$common-spr_img_cert02_light-offset_y: -214px;
$common-spr_img_cert02_light-width: 65px;
$common-spr_img_cert02_light-height: 48px;
$common-spr_img_cert02_light-total_width: 388px;
$common-spr_img_cert02_light-total_height: 380px;
$common-spr_img_cert02_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert02_light: (0px, 214px, 0px, -214px, 65px, 48px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert02_light');

$common-spr_img_cert03_dark-name: 'spr_img_cert03_dark';
$common-spr_img_cert03_dark-x: 0px;
$common-spr_img_cert03_dark-y: 272px;
$common-spr_img_cert03_dark-offset_x: 0px;
$common-spr_img_cert03_dark-offset_y: -272px;
$common-spr_img_cert03_dark-width: 44px;
$common-spr_img_cert03_dark-height: 61px;
$common-spr_img_cert03_dark-total_width: 388px;
$common-spr_img_cert03_dark-total_height: 380px;
$common-spr_img_cert03_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert03_dark: (0px, 272px, 0px, -272px, 44px, 61px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert03_dark');

$common-spr_img_cert03_light-name: 'spr_img_cert03_light';
$common-spr_img_cert03_light-x: 54px;
$common-spr_img_cert03_light-y: 272px;
$common-spr_img_cert03_light-offset_x: -54px;
$common-spr_img_cert03_light-offset_y: -272px;
$common-spr_img_cert03_light-width: 44px;
$common-spr_img_cert03_light-height: 61px;
$common-spr_img_cert03_light-total_width: 388px;
$common-spr_img_cert03_light-total_height: 380px;
$common-spr_img_cert03_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert03_light: (54px, 272px, -54px, -272px, 44px, 61px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert03_light');

$common-spr_img_cert04_dark-name: 'spr_img_cert04_dark';
$common-spr_img_cert04_dark-x: 249px;
$common-spr_img_cert04_dark-y: 38px;
$common-spr_img_cert04_dark-offset_x: -249px;
$common-spr_img_cert04_dark-offset_y: -38px;
$common-spr_img_cert04_dark-width: 60px;
$common-spr_img_cert04_dark-height: 64px;
$common-spr_img_cert04_dark-total_width: 388px;
$common-spr_img_cert04_dark-total_height: 380px;
$common-spr_img_cert04_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert04_dark: (249px, 38px, -249px, -38px, 60px, 64px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert04_dark');

$common-spr_img_cert04_light-name: 'spr_img_cert04_light';
$common-spr_img_cert04_light-x: 319px;
$common-spr_img_cert04_light-y: 38px;
$common-spr_img_cert04_light-offset_x: -319px;
$common-spr_img_cert04_light-offset_y: -38px;
$common-spr_img_cert04_light-width: 60px;
$common-spr_img_cert04_light-height: 64px;
$common-spr_img_cert04_light-total_width: 388px;
$common-spr_img_cert04_light-total_height: 380px;
$common-spr_img_cert04_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_img_cert04_light: (319px, 38px, -319px, -38px, 60px, 64px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_img_cert04_light');

$common-spr_logo_etoos_dark-name: 'spr_logo_etoos_dark';
$common-spr_logo_etoos_dark-x: 0px;
$common-spr_logo_etoos_dark-y: 82px;
$common-spr_logo_etoos_dark-offset_x: 0px;
$common-spr_logo_etoos_dark-offset_y: -82px;
$common-spr_logo_etoos_dark-width: 132px;
$common-spr_logo_etoos_dark-height: 33px;
$common-spr_logo_etoos_dark-total_width: 388px;
$common-spr_logo_etoos_dark-total_height: 380px;
$common-spr_logo_etoos_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoos_dark: (0px, 82px, 0px, -82px, 132px, 33px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoos_dark');

$common-spr_logo_etoos_light-name: 'spr_logo_etoos_light';
$common-spr_logo_etoos_light-x: 0px;
$common-spr_logo_etoos_light-y: 125px;
$common-spr_logo_etoos_light-offset_x: 0px;
$common-spr_logo_etoos_light-offset_y: -125px;
$common-spr_logo_etoos_light-width: 132px;
$common-spr_logo_etoos_light-height: 33px;
$common-spr_logo_etoos_light-total_width: 388px;
$common-spr_logo_etoos_light-total_height: 380px;
$common-spr_logo_etoos_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoos_light: (0px, 125px, 0px, -125px, 132px, 33px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoos_light');

$common-spr_logo_etoos02_dark-name: 'spr_logo_etoos02_dark';
$common-spr_logo_etoos02_dark-x: 151px;
$common-spr_logo_etoos02_dark-y: 238px;
$common-spr_logo_etoos02_dark-offset_x: -151px;
$common-spr_logo_etoos02_dark-offset_y: -238px;
$common-spr_logo_etoos02_dark-width: 74px;
$common-spr_logo_etoos02_dark-height: 17px;
$common-spr_logo_etoos02_dark-total_width: 388px;
$common-spr_logo_etoos02_dark-total_height: 380px;
$common-spr_logo_etoos02_dark-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoos02_dark: (151px, 238px, -151px, -238px, 74px, 17px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoos02_dark');

$common-spr_logo_etoos02_light-name: 'spr_logo_etoos02_light';
$common-spr_logo_etoos02_light-x: 235px;
$common-spr_logo_etoos02_light-y: 238px;
$common-spr_logo_etoos02_light-offset_x: -235px;
$common-spr_logo_etoos02_light-offset_y: -238px;
$common-spr_logo_etoos02_light-width: 74px;
$common-spr_logo_etoos02_light-height: 17px;
$common-spr_logo_etoos02_light-total_width: 388px;
$common-spr_logo_etoos02_light-total_height: 380px;
$common-spr_logo_etoos02_light-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoos02_light: (235px, 238px, -235px, -238px, 74px, 17px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoos02_light');

$common-spr_logo_etoos247-name: 'spr_logo_etoos247';
$common-spr_logo_etoos247-x: 0px;
$common-spr_logo_etoos247-y: 168px;
$common-spr_logo_etoos247-offset_x: 0px;
$common-spr_logo_etoos247-offset_y: -168px;
$common-spr_logo_etoos247-width: 120px;
$common-spr_logo_etoos247-height: 36px;
$common-spr_logo_etoos247-total_width: 388px;
$common-spr_logo_etoos247-total_height: 380px;
$common-spr_logo_etoos247-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoos247: (0px, 168px, 0px, -168px, 120px, 36px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoos247');

$common-spr_logo_etoosanswer-name: 'spr_logo_etoosanswer';
$common-spr_logo_etoosanswer-x: 142px;
$common-spr_logo_etoosanswer-y: 82px;
$common-spr_logo_etoosanswer-offset_x: -142px;
$common-spr_logo_etoosanswer-offset_y: -82px;
$common-spr_logo_etoosanswer-width: 85px;
$common-spr_logo_etoosanswer-height: 22px;
$common-spr_logo_etoosanswer-total_width: 388px;
$common-spr_logo_etoosanswer-total_height: 380px;
$common-spr_logo_etoosanswer-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoosanswer: (142px, 82px, -142px, -82px, 85px, 22px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoosanswer');

$common-spr_logo_etoosbook-name: 'spr_logo_etoosbook';
$common-spr_logo_etoosbook-x: 75px;
$common-spr_logo_etoosbook-y: 238px;
$common-spr_logo_etoosbook-offset_x: -75px;
$common-spr_logo_etoosbook-offset_y: -238px;
$common-spr_logo_etoosbook-width: 66px;
$common-spr_logo_etoosbook-height: 23px;
$common-spr_logo_etoosbook-total_width: 388px;
$common-spr_logo_etoosbook-total_height: 380px;
$common-spr_logo_etoosbook-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoosbook: (75px, 238px, -75px, -238px, 66px, 23px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoosbook');

$common-spr_logo_etooscheongsol-name: 'spr_logo_etooscheongsol';
$common-spr_logo_etooscheongsol-x: 142px;
$common-spr_logo_etooscheongsol-y: 125px;
$common-spr_logo_etooscheongsol-offset_x: -142px;
$common-spr_logo_etooscheongsol-offset_y: -125px;
$common-spr_logo_etooscheongsol-width: 93px;
$common-spr_logo_etooscheongsol-height: 16px;
$common-spr_logo_etooscheongsol-total_width: 388px;
$common-spr_logo_etooscheongsol-total_height: 380px;
$common-spr_logo_etooscheongsol-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etooscheongsol: (142px, 125px, -142px, -125px, 93px, 16px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etooscheongsol');

$common-spr_logo_etooshyper-name: 'spr_logo_etooshyper';
$common-spr_logo_etooshyper-x: 249px;
$common-spr_logo_etooshyper-y: 0px;
$common-spr_logo_etooshyper-offset_x: -249px;
$common-spr_logo_etooshyper-offset_y: 0px;
$common-spr_logo_etooshyper-width: 139px;
$common-spr_logo_etooshyper-height: 28px;
$common-spr_logo_etooshyper-total_width: 388px;
$common-spr_logo_etooshyper-total_height: 380px;
$common-spr_logo_etooshyper-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etooshyper: (249px, 0px, -249px, 0px, 139px, 28px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etooshyper');

$common-spr_logo_etooslab-name: 'spr_logo_etooslab';
$common-spr_logo_etooslab-x: 75px;
$common-spr_logo_etooslab-y: 214px;
$common-spr_logo_etooslab-offset_x: -75px;
$common-spr_logo_etooslab-offset_y: -214px;
$common-spr_logo_etooslab-width: 157px;
$common-spr_logo_etooslab-height: 14px;
$common-spr_logo_etooslab-total_width: 388px;
$common-spr_logo_etooslab-total_height: 380px;
$common-spr_logo_etooslab-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etooslab: (75px, 214px, -75px, -214px, 157px, 14px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etooslab');

$common-spr_logo_etoosmath-name: 'spr_logo_etoosmath';
$common-spr_logo_etoosmath-x: 0px;
$common-spr_logo_etoosmath-y: 48px;
$common-spr_logo_etoosmath-offset_x: 0px;
$common-spr_logo_etoosmath-offset_y: -48px;
$common-spr_logo_etoosmath-width: 183px;
$common-spr_logo_etoosmath-height: 24px;
$common-spr_logo_etoosmath-total_width: 388px;
$common-spr_logo_etoosmath-total_height: 380px;
$common-spr_logo_etoosmath-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoosmath: (0px, 48px, 0px, -48px, 183px, 24px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoosmath');

$common-spr_logo_etoosneo-name: 'spr_logo_etoosneo';
$common-spr_logo_etoosneo-x: 242px;
$common-spr_logo_etoosneo-y: 214px;
$common-spr_logo_etoosneo-offset_x: -242px;
$common-spr_logo_etoosneo-offset_y: -214px;
$common-spr_logo_etoosneo-width: 98px;
$common-spr_logo_etoosneo-height: 14px;
$common-spr_logo_etoosneo-total_width: 388px;
$common-spr_logo_etoosneo-total_height: 380px;
$common-spr_logo_etoosneo-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_logo_etoosneo: (242px, 214px, -242px, -214px, 98px, 14px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_logo_etoosneo');

$common-spr_txt_info-name: 'spr_txt_info';
$common-spr_txt_info-x: 0px;
$common-spr_txt_info-y: 0px;
$common-spr_txt_info-offset_x: 0px;
$common-spr_txt_info-offset_y: 0px;
$common-spr_txt_info-width: 239px;
$common-spr_txt_info-height: 38px;
$common-spr_txt_info-total_width: 388px;
$common-spr_txt_info-total_height: 380px;
$common-spr_txt_info-image: '/assets/enp/front/resource/images/sprites/sprite_common.png';
$common-spr_txt_info: (0px, 0px, 0px, 0px, 239px, 38px, 388px, 380px, '/assets/enp/front/resource/images/sprites/sprite_common.png', 'spr_txt_info');

